body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.15;
    background-color: #F3F3F3;
}

a {
  color: #7AB730;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #527a20!important;
  text-decoration: underline;
}
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
/* Navbar */
.active{
  color: #527a20!important;
}
.nav-bar::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background: #FFFFFF;
  }
  .nav-link{
    font-size: 1.2rem;
    margin: 10px 20px;
  }
  .navbar{
    position: sticky;
  }

  /* Carousel */
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
 

  #carouselExampleCaptions , .home-header{
    margin-top: -42px;
  }

  .carousel-item img{
    filter: brightness(40%);
  }
  .carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .destination-overlay {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: .5s;
    z-index: 1;
  }
  .back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 11;
  }

  .btn-square {
    width: 36px;
    height: 36px;
  }
  .btn-block {
    display: block;
    width: 100%;
  }
  .btn-primary {
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #669928;
    border-color: #5f8f25;
  }
  
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #669928;
    border-color: #5f8f25;
    box-shadow: 0 0 0 0.2rem rgba(142, 194, 79, 0.5);
  }
  .btn-outline-primary {
    color: #7AB730;
    border-color: #7AB730;
  }
  
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #7AB730;
    border-color: #7AB730;
  }
  
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(122, 183, 48, 0.5);
  }

  
.service-item , .contact-item{
  transition: .5s;
}

.service-item:hover , .contact-item:hover{
  box-shadow: 0 0 30px #cccccc;
 
}
.about-menu:hover{
  text-decoration: none;
}

.service-item i , .contact-item i{
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #7AB730;
  background: #FFFFFF;
  color: #7AB730;
  transition: .5s;
}

.service-item:hover i , .contact-item:hover i{
  background: #7AB730;
  color: #FFFFFF;
}



.input-group-append {
  margin-left: -1px;
}
.input-group-append .btn {
  position: relative;
  z-index: 2;
}

  .text-body{
    color: #656565 !important;
  }
  .text-primary{
    color: #7AB730 !important ;
  }

  .home-header{
    background: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.8)) , url('images/carousel-2.jpg') , no-repeat center center;
    background-size: cover;
   
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
  .form-row > .col,
  .form-row > [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }

  @media (min-width: 768px) {
    .booking {
      position: relative;
      margin-top: -60px !important;
      z-index: 1;
    }
  }
  @media (max-width: 576px) {
    #carouselExampleCaptions{
      padding-top: 8%;
    }
    .carousel-caption h4 {
      font-size: 18px;
    }
    .carousel-caption h1 {
      font-size: 30px;
    }
  }
  @media (max-width: 400px) {
    #carouselExampleCaptions{
      padding-top: 15%;
    }
    .carousel-caption a {
      display: none;
    }
    .carousel-caption h4 {
      font-size: 10px;
    }
    .carousel-caption h1 {
      font-size: 22px;
    }
  }