body{
    margin: 0;
    padding: 0;
    background-color: #DDFFBB;
}

.list-item{
margin: 0px 20px;
}

.home-container{
    background-image:linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)), url('images/bg-1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-container h1{
    color: white;
    font-weight: bold;
}
.form-container{
    background-image:linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)), url('images/bg-2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 3% 2%;
}
.nav-tabs{
    border: none;
}
.container .nav{
    justify-content: center;
}

.tab-link{
    padding: 10px 20px;
    margin: 5px 25px;
    background-color: #C7E9B0;
    font-weight: bold;
}

.tab-link:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.6);
}

.searchButton{
    border: 1px solid;
    padding: 5px 20px;
    background-color: white;
}
.searchButton:hover{
    background-color: #C7E9B0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.6);
}.img-card{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

hr{
    width: 90%;
    color: black;
    margin: 5px auto;
    height: 2px;
}

/* Contact Us page */
.contact-container{
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('images/bg-3.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 5% 15%;
}
.contact-container h1{
    color: white;
    font-weight: bold;
}
.contact-text{
    letter-spacing: 1.2px;
    line-height: 1.8rem;
    text-align: justify;
}

/* About Page */
.about-container{
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('images/bg-4.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 5% 15%;
}
.about-container h1{
    color: white;
    font-weight: bold;
}
.fact-container{
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('images/about-2.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 3% 8%;
}
.about-text{
    letter-spacing: 1.2px;
    line-height: 1.8rem;
    text-align: justify;
}
.about-col{
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)) , url('images/about.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.feature:hover .fa-solid{
    color: white;
}




@media screen and (max-width:1250px){
    
}
@media screen and (max-width:600px){
    
}
@media screen and (max-width:400px){
    
}






/* #C7E9B0
#B3C99C
#A4BC92 */